beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==3.0.1
decorator==5.1.1
idna==3.4
lxml==4.9.2
pyaes==1.6.1
PyMySQL==1.0.2
Pyrogram==2.0.97
PySocks==1.7.1
python-dotenv==0.21.1
pytz==2022.7.1
requests==2.28.2
soupsieve==2.3.2.post1
TgCrypto==1.2.5
urllib3==1.26.14
validators==0.20.0
